.switch-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 20px;
    width: 60px;
    height: 30px;
    padding: 5px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
  }
  
  .switch-container.on {
    background-color: #007bff;
  }
  
  .switch-container.off {
    background-color: #ccc;
  }
  
  .switch-button {
    background-color: white;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    transition: transform 0.3s ease;
  }
  
  .switch-container.on .switch-button {
    transform: translateX(30px);
  }
  
  .switch-container.off .switch-button {
    transform: translateX(0);
  }
  
  .switch-label-history {
    margin-left: 10px;
    font-size: 16px;
    color: rgb(35, 35, 35);
    user-select: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    align-self: center;
  }
  
  .container-switch-history{
    display: flex;
    flex-direction: row;
  }

